* {
    margin: 0;
    padding: 0;
}

.parent-wrapper {
    background-color: #111111;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-wrapper {
    border: 2px solid #ffffff;
    width: 60%;
    height: 60%;
    padding: 20px;
}

.inner-wrapper {
    display: flex;
    flex-direction: column;
}